@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
    transform: scale(1.4);
  }

  100% {
    opacity: 1;
  }
}

.about {
  display: flex;
  position: relative;
  padding: 0 80px 0;
  background-color: #0a2850;
  overflow: hidden;
}

.about__title {
  display: flex;
  padding: 100px 0 0;
  margin: 0;
  width: 426px;
  height: 426px;
  max-width: 251px;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 2;
  color: #fff;
}

.about__circle {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: 0;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
  animation-delay: 0s;
}

.about__content {
  /*display: flex;
    flex-direction: column;*/
  margin-left: auto;
  max-width: 660px;
  padding: 119px 0 173px;
  max-width: 660px;
  gap: 20px;
  font-family: "Noto Serif" "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin: 0;
}
