.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__column {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 0;
  color: #fff;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-top: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  transition-duration: 2s;
}

.footer__social_link:hover {
  background-color: #c1c1c1;
}
.footer__socia_icon {
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__copyright {
  padding: 108px 80px 60px;
  margin: 0;
  font-family: "Inter" Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
}
